<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brucelords</title>
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <header class="center">
        <h1 id="page-title">Brucelords</h1>
        <h2>Aquí algunos proyectos de la clase</h2>
    </header>
    <main>

        <section class="projects center">
            <a href="{{ url_for('dfa') }}">
                <div class="project" id="adf">
                    <h5 class="project-name">Autómata Determinista Finito</h5>
                    <img class="project-icon" src="../static/img/icon-automata.png" alt="Ícono de un automata">
                </div>
            </a>
        </section>
        <div id="footer">
            <div class="class-info">
                <h3>Implementación de métodos computacionales | Alex de Gante</h3>
            </div>
            <div class="names">
                <h5><a href="https://github.com/pablo-blancoc" target="_blank">Pablo Blanco</a></h5>
                <h5>Sebastián Rojas</h5>
                <h5>Diego Velázquez</h5>
            </div>
            <div class="github">
                <a href="https://github.com/pablo-blancoc/TC2037" target="_blank">
                    <img src="../static/img/icon-github.png" alt="Go to repo" class="go-to-repo">
                </a>
            </div>
        </div>

    </main>
    

</body>
</html>