<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DFA</title>
    <link rel="stylesheet" href="../static/styles/dfa.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <header class="center">
        <div class="home">
            <a href="{{ url_for('index') }}"><h6 >Ir a Inicio</h6></a>
        </div>
        <h1 id="page-title">Resaltador Léxico</h1>
    </header>
    <main class="center" style="height: 300px;">

        <h1 id="instructions">Sube un archivo con extensión '.csm' para probar el Resaltador Léxico</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>

        <div id="footer">
            <div class="class-info">
                <h3>Implementación de métodos computacionales | Alex de Gante</h3>
            </div>
            <div class="names">
                <h5><a href="https://github.com/pablo-blancoc" target="_blank">Pablo Blanco</a></h5>
                <h5>Sebastián Rojas</h5>
                <h5>Diego Velázquez</h5>
            </div>
            <div class="github">
                <a href="https://github.com/pablo-blancoc/TC2037" target="_blank">
                    <img src="../static/img/icon-github.png" alt="Go to repo" class="go-to-repo">
                </a>
            </div>
        </div id="footer">
    </main>

</body>
</html>